.empresas-content-box .header {
  padding: 25px;
  background: #2e2e3a;
}

.empresas-content-box .header h2 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: white;
}
.empresas-content-box {
  margin: 50px 15vw;
  width: 100%;
  height: 100%;
  min-height: 80vh;
  background: white;
}

.empresas-content-body {
}
