@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  background: #e5e5e5;
}

.nav-bar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
  z-index: 1;
}

.nav-bar span {
  position: absolute;
  width: 5px;
  height: 80px;
  z-index: 2;
  background: #45b491;
}

.nav-bar span:before {
  content: " ";
}

.nav-bar .icon {
  display: flex;
  width: 85px;
  height: 100%;
  background: #2e2e3a;
}

.nav-bar .icon svg {
  margin: auto;
}

.nav-bar .logo {
  display: flex;
  width: 160px;
  margin: auto;
}

.nav-bar .logo h2 {
  margin: auto;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
  color: #333d47;
}

.content-container {
  display: flex;
}

.content-container .side-bar {
  position: fixed;
  padding-top: 85px;
  height: 100%;
  width: 85px;
  background: #1b1d29;
}

.content-container .side-bar .icons {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.content-container .side-bar .icons svg {
  color: #828d8c;
  margin: 20px auto;
  font-size: 40px;
  transition: 0.5s;
}

.content-container .side-bar .icons svg:hover {
  color: white;
}

.content-container .content-box {
  margin: 50px auto;
}

.content-container .content-box h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.content-container .content-box .content-body {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(5, 272px);
  grid-template-rows: 160px;
  gap: 20px;
}

.content-container .content-box .content-body .card {
  display: grid;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.26);
  border-radius: 4px;
}

.content-container .content-box .content-body .card a {
  display: flex;
  flex-direction: column;
  place-self: center;
}

.content-container .content-box .content-body .card a svg {
  color: #828d8c;
  place-self: center;
  font-size: 75px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.content-container .content-box .content-body .card a h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  place-self: center;
  color: #828d8c;
  transition: 0.5s;
}

.content-container .content-box .content-body .card a:hover svg {
  color: #45b491;
}

.content-container .content-box .content-body .card a:hover h3 {
  color: #45b491;
}
